.tool-header, .location-submit {
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
}

.app-bar {
    background-color: #333;
    height: 44px;
    color: #eee;

    display: flex;
    align-items: center;
    padding-left: 15px;
}

.location-bar {
    height: 41px;
    display: flex;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    color: #777;
    background: #eeeeee;
    border-bottom: 1px solid #d6d6d6;
    font-family: system, -apple-system, 'San Francisco', '.SFNSDisplay-Regular', 'Segoe UI', Segoe, 'Segoe WP', 'Helvetica Neue', helvetica, 'Lucida Grande', arial, sans-serif;
    font-variant: small-caps;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: lowercase;
}

.location-input {
    font-size: 13px;
    margin-left: 10px;
    margin-right: 10px;
    flex-grow: 1;
    padding: 3px;
}

.location-submit {
    background-color: #999;
    color: #fff;
    font-size: 13px;
    border: none;
    height: 25px;

}

.app-icon {
    width: 25px;
    height: 28px;
    margin-right: 10px;
}

.app-title {
    text-transform: uppercase;
}

#graphiql {
    position: fixed;
    top: 85px;
    bottom: 0;
    left: 0;
    right: 0;
}